<div class="cont_products">
    {{#each secciones}}
    <div class="product">
        <a name="{{categoria}}"></a>
<<<<<<< HEAD
        <img src="../img/{{imagen}}" alt="imagenes de articulos" class="img_product col-md-12 w-50">
=======
        <img src="../img/{{imagen}}" alt="chancla_producto" class="img_product col-md-12 w-50">
>>>>>>> 33eb2647c200cd9c858552555736742c54f2f2b2
       <div class="row-md-2 col-md-12">
           <p class="descripcion">{{descripcion}}</p>
       </div> 
       <div class="row">
        <p class="m-2 col-md-4">{{precio}}€</p>
        <input type="number" class=" " value="1" id="box_input" min="1" max="10">
        <a href="/carrito" id="carrito" class="col-md-3"><img src="../img/cesta.png" alt="cesta_compra" id="log_cesta"></a>
       </div>
        
    </div>
    {{/each}}

</div>

