<h1 id="stock">Usuarios:</h1>
		<div id="selectCat">
			<p>
				<input type="text" name="search" id="id_text_search" /><input type="submit"  
					value="Busqueda por nombre"
					id="id_search">
			</p>
		</div>
		<div id="resultados"></div>

{{#each clientes}}

<div class="clientes">
<ul>	
<li>Id_cliente: {{id_cliente}}</li>
<li>Nombre: {{nombre}}</li>
<li>Primer Apellido: {{apellido1}}</li>
<li>Segundo Apellido: {{apellido2}}</li>
<li>Usuario: {{usuario}}</li>
<li>Email: {{email}}</li>
<li>Población: {{poblacion}}</li>
</ul>
</div>
{{/each}}

