

	{{#each clientes}}

<div class="clientes">
<ul>	
<li>Id_cliente: {{id_cliente}}</li>
<li>Nombre: {{nombre}}</li>
<li>Primer Apellido: {{apellido1}}</li>
<li>Segundo Apellido: {{apellido2}}</li>
<li>Usuario: {{usuario}}</li>
<li>Email: {{email}}</li>
<li>Población: {{poblacion}}</li>
</ul>
</div>
{{/each}}

