
<h1 id="stock"><strong> Clientes: </strong></h1>

{{#if datos}}
	{{#each datos}}
<div class="product clientes">
<ul>	
<li>Id_cliente:{{id_cliente}}</li>
<li>Nombre:{{nombre}}</li>
<li>Primer Apellido:{{apellido1}}</li>
<li>Segundo Apellido:{{apellido2}}</li>
<li>Usuario:{{usuario}}</li>
<li>Email: {{email}}</li>
<li>Población:{{poblacion}}</li>
</ul>
</div>
{{/each}}
{{/if}}
