

<h1 id="stock"><strong> Pedidos en Proceso: </strong></h1>
<div class="divEnlaces">
<a class="enlaces" href="/pedidosEnviados">Pasa a vista Pedidos Enviados</a>
<a  class="enlaces" href="/historicoPedidos">Pasa a vista Histórico de Pedidos</a>
<a class="enlaces" id="generarPDF" href="/imprimirPDF"> Generar PDF</a>

</div>

{{#if enProceso}}
{{#each enProceso}}

<div class="listaPedido" id="imprimir">
<ul id="{{id_pedido}}mensaje">	
<li>Id pedido: {{id_pedido}}</li>
<li>Productos: {{descripcion}}</li>
<li>Cantidad: {{cantidad}}</li>
<label><input id="{{id_pedido}}" name="miCheck" type="checkbox"> Enviado </a></label>
<li><button id="{{id_pedido}}button">Guardar</button></li>
<li>{{mensaje}}</li>
</ul>
</div>



<script async>
async function alertaValue(req, res){ 
   	const check = document.getElementById("{{id_pedido}}");
   	if (check) {
	actualizaProceso({{id_pedido}});
   	}
  	
} 

document.getElementById("{{id_pedido}}button").addEventListener("click", alertaValue);

async function enviaMensaje(req, res){ 
   	muestraMensaje({{id_pedido}});
   	
} 
document.getElementById("{{id_pedido}}button").addEventListener("click", enviaMensaje);


async function sendValue(req, res){ 
   	busquedaCliente({{id_cliente}});
   	
} 

document.getElementById("{{id_cliente}}").addEventListener("click", sendValue);
</script>
{{/each}}
{{/if}}
