<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>modificar pedidos</title>
	<script type="text/javascript" src="../public/src/guardarPedidos.js" async></script>
</head>
<body>
	<h1><strong> Pedidos Guardados: </strong></h1>
{{#if datosGuardados}}
{{#each datosGuardados}}
<ul>	
<li>Id pedido: {{id_pedido}}</li>
<li>Productos: {{descripcion}}</li>
<li>cantidad: {{cantidad}} <button id="id_pedido">Modificar cantidad</button></li>
<li>Precio: {{precio}}</li>
<li>Foto: {{imagen}}</li>
</ul>

{{/each}}
{{/if}}
</body>
</html>