
<h1 id="stock"><strong> Pedidos Enviados: </strong></h1>
<div class="divEnlaces">
<a  class="enlaces" href="/historicoPedidos">Pasa a vista Histórico de Pedidos</a></div>

{{#if enviados}}
{{#each enviados}}

<div class="listaPedido">
<ul>	
<li>Id pedido: {{id_pedido}}</li>
<li>Productos: {{descripcion}}</li>
<li>Cantidad: {{cantidad}}</li>
<label><input id="{{id_pedido}}" name="miCheck" type="checkbox"> Entregado </a></label>
<li><button id="{{id_pedido}}button">Guardar</li>
</ul>
<p id="mensaje"> {{mensaje}} </p>
</div>



<script>
async function alertaValueEnv(req, res){ 
   	const check = document.getElementById("{{id_pedido}}");
   	if (check) {
	actualizaEnviados({{id_pedido}});
   	}
  	
} 

document.getElementById("{{id_pedido}}").addEventListener("click", alertaValueEnv);

async function enviaMensajeEnv(req, res){ 
   	muestraMensajeEnv({{id_pedido}});
   	
} 
document.getElementById("{{id_pedido}}button").addEventListener("click", enviaMensajeEnv);


</script>
{{/each}}
{{/if}}


