

<h1 id="stock"><strong> Pedidos en Proceso: </strong></h1>
<div class="divEnlaces">
<a class="enlaces" href="/pedidosEnviados">Pasa a vista Pedidos Enviados</a>
<a  class="enlaces" href="/historicoPedidos">Pasa a vista Histórico de Pedidos</a></div>

{{#if enProceso}}
{{#each enProceso}}

<div class="listaPedido">
<ul>	
<li>Id pedido: {{id_pedido}}</li>
<li>Productos: {{descripcion}}</li>
<li>Cantidad: {{cantidad}}</li>
<li><button id="{{id_cliente}}button"> Id_cliente: {{id_cliente}}</button></li>
<label><input id="{{id_pedido}}" name="miCheck" type="checkbox"> Enviado </a></label>
</ul>
<p id="mensaje">{{mensaje}}</p>
</div>



<script async>
async function alertaValue(req, res){ 
   	actualizaProceso({{id_pedido}});
   	
} 
document.getElementById("{{id_pedido}}").addEventListener("click", alertaValue);

async function enviaMensaje(req, res){ 
   	muestraMensaje({{id_pedido}});
   	
} 
document.getElementById("{{id_pedido}}").addEventListener("click", enviaMensaje);


async function sendValue(req, res){ 
   	busquedaCliente({{id_cliente}});
   	
} 

document.getElementById("{{id_cliente}}").addEventListener("click", sendValue);
</script>
{{/each}}
{{/if}}
