<br><br><br><br><br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mi perfil</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mis pedidos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<div class="ml-3"><br><h3>Mis datos personales</h3></div><br><br>
<div class="container row">
        <div class="col-8">
          <div class="col-8 mt-2">
              <label for="nombre" style="width: 40%;">Nombre: </label>
              <input type="text" placeholder="{{nombre}}" required>
          </div>
          <div class="col-8 mt-3">
              <label for="nombre"  style="width: 40%;">Primer apellido: </label>
              <input type="text" placeholder="{{apellido1}}" required>
          </div>
          <div class="col-8 mt-3">
              <label for="nombre"  style="width: 40%;">Segundo apellido: </label>
              <input type="text" placeholder="{{apellido2}}"  required>
          </div>
          <div class="col-8 mt-3">
              <label for="email"  style="width: 40%;">Email: </label>
              <input type="email" name="email" id="email"  required>
          </div>
            <div class="col-8 mt-3">
              <label for="user" style="width: 40%;">Usuario: </label>
              <input type="text" name="user" id="user" required>
          </div>
          <div class="col-8 mt-3">
              <label for="password" style="width: 40%;">Contraseña: </label>
              <input type="password" name="password" id="password" required>
          </div>
           <div class="col-8 mt-3">
              <label for="adress" style="width: 40%;">Dirección: </label>
              <input type="text" name="adress" id="adress"  required>
          </div>
          <div class="col-12 mt-3">
              <input type="submit" name="guardar" id="guardar" value="Guardar" class="mb-5" required>
          </div>
        </div>
          <div class="col-4">
                <img src="/img/image.png" alt="" class="w-50">
                <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
                        <input type="file" name="sampleFile" />
                        <input type='submit' value='Upload!' />
                </form>              
          </div>
      </div>
    </div>
  
  <div class="tab-pane fade row" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h2>Pedido nº: {{pedido}}</h2>
      <div class="col-4">
          <img src="../img/{{imagen}}">
      </div class="col-4">
      <div class="col-4">
          <p>{{descripcion}}</p>
      </div >
      <div class="col-4">
          <p>{{cantidad}}</p>
          <p>{{precio}}</p>
      </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

