



{{#each stock}}
<div class="contenedorStock">
      <ul class="stockVista">
        <p>Descripción</p><li class="valorStock">{{descripcion}}<input class="valorStock" type="text" size="50"><button id="{{id_articulo}}_desc" class="valorStock btnActualizar">Modificar</button></li>
      
        <p>Categoría</p><li class="valorStock">{{categoria}}</li>

        <p>Stock</p><li class="valorStock">{{stock}}<input class="valorStock" type="text" size="50"><button id="{{id_articulo}}_stock" class="valorStock">Modificar</button></li><br/>
        
        <p>Precio Eur</p><li class="valorStock">{{precio}}<input class="valorStock" type="text" size="50"><button id="{{id_articulo}}_precio" class="valorStock">Modificar</button></li><br/>
        
            <img class="imagenStock" src="../img/{{id_articulo}}.webp"><br/>
            <label for="avatar">Modificar imagen:</label>
            <input type="file" id="photo" />
</ul>
</div>
  {{/each}}

</div>
